<!DOCTYPE html>
<html lang="en" class="scroll-smooth transition-all">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme:dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    <script src="/js/script.js" defer></script>
    <title>Blog | Fortune Okwu</title>
</head>

<body class="dark:bg-darkBlue dark:text-white font-sans">
    <section>
        <!-- Header -->
        <header class="max-w-6xl mx-auto px-6 py-6">
            
            <div id="menu"
                class="absolute hidden right-0 bottom-0 left-0 flex-col self-end w-full min-h-screen py-1 pt-40 p-12 space-y-3 text-lg bg-black">
                <a href="" class="hover:text-primary font-opensans">About</a>
                <a href="" class="hover:text-primary font-opensans">Projects</a>
                <a href="" class="hover:text-primary font-opensans">Blog</a>
                <a href="" class="hover:text-primary font-opensans">Contact</a>

                <!-- Mobile Dark/Light Mode Button -->
                <button id="theme-toggle"
                    class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                    <!-- Dark SVG Icon -->
                    <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <!-- Light SVG Icon -->
                    <svg id="theme-toggle-light-icon" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </header>
    </section>

    <!-- Hero Section -->
    <section id="hero">
        <div class="w-11/12 flex flex-col space-y-4 items-center mx-auto">
                <h1 class="text-5xl font-bold text-center font-sans max-w-md ">FORTUNE OKWU</h1>
                <!-- Hero Nav -->
                <nav class="h-10 items-center flex  space-x-4 md:space-x-8">
                    <div class="group">
                        <a href="/" class="group-hover:text-primary text-sm font-opensans">Home</a>
                        <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                    </div>
                    <div class="group">
                        <a href="/blog" class="group-hover:text-primary text-sm font-opensans">Blog</a>
                        <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                    </div>
                </nav>
                <div id="profile" class="container justify-center mx-auto flex gap-4">
                    <img src="/images/fortuneokwu.jpeg" alt="profile-picture" class=" w-28 sm:w-40 border">
                    <p class="font-sans text-white text-md text-right md:max-w-xs">
                        I am a software developer and founder of <span class="text-primary hover:cursor-pointer hover:underline hover:underline-offset-4">Drumbell Social Media</span> and <span class="text-primary hover:cursor-pointer hover:underline hover:underline-offset-4">Drumbell Advocacy Foundation.</span> 
                    </p>
                </div>
        </div>
    </section>

    <section id="blogLists">
        <!-- Blog Posts Container -->
        <div class="container max-w-4xl mx-auto my-4">
            <!-- Section Header -->
            <div class="">
                <h2 class="text-center text-3xl font-bold">BLOG</h2>
            </div>
            <!-- Blog Item Container 1 -->
            <div class="w-11/12 mx-auto my-10">
                    <!-- Blog Item Header -->
                    <div class="flex mb-8 justify-between">
                        <h2 class="w-4/6 underline underline-orange-400 text-lg text-left md:text-left md:text-xl font-sans">
                            Cyber Threat Hunting - An Essential Component of Network, Endpoint, and Dataset Security Strategies
                        </h2>
                        <p>
                            Sep 22, 2022
                        </p>
                    </div>
                    <!-- Blog Item Content -->
                    <div class="mx-auto ">
                    
                        <!-- Image -->
                        <img class="float-right w-96 ml-8 mb-4" src="/images/postimages/cyberthreat.jpg" alt="">
                        <!-- Post Excerpt -->
                        <p class="text-left font-sans">Cyber ​​threat hunting is an active information security strategy used by security
                            analysts. It is "the process of
                            proactively and iteratively searching through networks to detect and isolate advanced threats that evade
                            existing
                            security solutions." Threat hunting is a technique that can be of great benefit to an organization. However,
                            many
                            organizations often ask the simple and relevant question, "How do I hunt?" This frequently leaves organizations
                            and
                            teams unsure of where to start or how t
                            o get started. Today's cybercriminals are becoming more sophisticated than ever,
                            which means hunting down cyber threats is an essential part of robust security strategies for networks,
                            endpoints and
                            datasets.</p>
                            <p class="text-sm hover:text-primary hover:underline font-opensans cursor-pointer">Read more...</p>
                            
                    
                    
                    </div>
                
            </div>
            
        </div>
    </section>

    
    <!-- Footer section -->
    <footer class="bg-black">
        <div class="container max-w-6xl py-10 mx-auto">
            <!-- Footer flex container -->
            <div
                class="flex flex-col items-center mb-8 space-y-6 md:flex-row md:space-y-0 md:justify-between md:items-start">
                <!-- Menu and Logo -->
                <div class="flex flex-col items-center space-y-8 md:items-start md-space-y-4">
                    <!-- Logo -->
                    <div class="h-8">
                        <!-- <div class="bg-logo-dark-mode bg-no-repeat h-20 w-48"></div> -->

                        <!-- <img src="assets/images/logo.svg" alt="" class="w-44 md:ml-3"> -->
                    </div>
                    <!-- Men -->
                    <div
                        class="flex flex-col items-center space-y-4 font-bold text-white md:flex-row md:space-y-0 md:space-x-6 md:ml-3">
                        <!-- Item 1 -->
                        <div class="h-10 group">
                            <a href="#about" class="text-sm group-hover:text-primary font-opensans">About</a>
                            <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                        </div>
                        <!-- Item 2 -->
                        <div class="h-10 group">
                            <a href="#projects" class="text-sm group-hover:text-primary font-opensans">Projects</a>
                            <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                        </div>
                        <!-- Item 3 -->
                        <div class="h-10 group">
                            <a href="/blog" class="text-sm group-hover:text-primary font-opensans">Blog</a>
                            <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                        </div>
                        <!-- Item 4 -->
                        <div class="h-10 group">
                            <a href="#contact" class="text-sm group-hover:text-primary font-opensans">Contact</a>
                            <div class="mx-2 group-hover:border-b group-hover:border-primary"></div>
                        </div>

                    </div>
                </div>
                <!-- Social and Copy -->
                <div class="flex flex-col align-items justify-between space-y-4 text-gray-500">
                    <!-- Icons container -->
                    <div class="flex items-center justify-center space-x-4 md:justify-start">
                        <!-- icon 1 -->
                        <div class="h-8 group">
                            <a href="">
                                <img src="/images/icon-linkedin" alt="" class="h-6 ficon">
                            </a>
                        </div>
                        <!-- icon 1 -->
                        <div class="h-8 group">
                            <a href="https://twitter.com/fortuneokwu">
                                <img src="/images/icon-twitter.svg" alt="" class="h-6 ficon">
                            </a>
                        </div>
                        <!-- icon 1 -->
                        <div class="h-8 group">
                            <a href="https://www.instagram.com/fortuneokwu/">
                                <img src="/images/icon-instagram.svg" alt="" class="h-6 ficon">
                            </a>
                        </div>
                    </div>
                    <!-- Copyright -->
                    <div class="font-bold font-sans">
                        &copy; 2022 Fortune Okwu. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>